<div class="wrapper">
  <% @posts.each do |post| %>
  <dir class="blog-wrapper">
    <div class="blog-wrapper__title">
      <p class="blog-wrapper__title--p"><%= post.title %></p>
    </div>
    <div class="blog-wrapper__created">
      <p class="blog-wrapper__created--p"><%= post.created_at.strftime("%Y-%m-%d %H:%M")  %></p>
    </div>
    <div class="blog-wrapper__content">
      <p class="blog-wrapper__content--p"><%= post.content %></p>
    </div>
  </dir>
  <% end %>
</div>
